:root{
    font-size: 10px;
}

body{
    margin: 0;
    font-size: 1.8rem;
}
.title-bar{
    z-index: 1;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.2rem;
    text-align: center;
}
.title-main{
    padding: 1.5rem;
    background: #380980;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.title-right{
    font-family: 'Dancing Script';
    color: #311B92;
    padding: 1.5rem;
    background: #B388FF;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.title-left{
    font-family: 'Dancing Script';
    color: #311B92;
    padding: 1.5rem;
    background: #B388FF;
   border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.left-nav{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    float: left;
    left: 0;
    height: 70%;
    width: 6rem;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background: rgba(40, 53, 147  , 0.8);
    color: white;
    font-size: 5rem;
}
.form-nav:hover{
    cursor: pointer;
    animation: hover-effect 300ms ease-in-out forwards;

}
.right-nav{
    font-size: 6rem;
    padding: 1.5rem;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    float: right;
    color: white;
    right: 0;
    height: 70%;
    width: 6rem;
    background: rgba(40, 53, 147  , 0.8);
}
@keyframes hover-effect{
    from{
        opacity: 1;
        transform: scale(1);
    }
    to{
        transform: scale(1.02);
        opacity: 0.8;
    }
}
.box{
    width: 100%;
    font-size: 1.8rem;
    text-align: center;
    padding: 1.5rem;
}
button{
    font-family: 'Open Sans';
    font-size: 1.7rem;
}
.form-group{
    width: 100%;
    text-align: center;
}
.no-bevel{
    width: 100%;
    padding: 1.5rem;
    transition: all 300ms ease-in-out;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.blue{
    color: white;
    background: #1565C0;
}
.blue:hover{
    color: #1565C0;
    background: rgb(241, 243, 245);
}
.purple{
    color: white;
    background: #4A148C;
}
.purple:hover{
    color: #4A148C;
    background: rgb(243, 241, 245)
}
.green{
    background: #1B5E20;
    color: white;
}
.green:hover{
    background: rgb(241, 247, 242);
    color: #1B5E20;
}
.option button{
    font-family: 'Raleway';
}
.disabled{
    cursor: not-allowed !important;
    opacity: 0.65 !important;
}

.main-container{
    z-index: -1;
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.dialog{
    border: 1px solid#bdc6de;
    padding: 3rem;
    border-radius: 7px;
    height: 50rem;
    overflow: auto;
    width: 70rem;
}
.ac-login{
    background:#3b5998;
    color: white;
    padding: 1.5rem;
    transition: all 300ms ease-in-out;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.ac-login:hover{
    color: #3b5998;
    background: rgb(255, 255, 255);
}

.steps{
    margin: 1rem;
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    border-bottom: 3px solid;
    border-radius: 2px;
    margin-bottom: 2rem;;
}
.selection{
    border: 1px dashed;
    padding: 1.5rem;
}
.selection select{
    margin-bottom: 1rem;
    background: #E8EAF6;
    color: #512DA8;
}
.selection select option{
    padding: 0.5rem;
}
select::selection{
    background: white;
}
/* View Styles */

.view{
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 7px;
    padding: 1.5rem;
    background: #E8EAF6;
}
.post textarea{
    resize: none;
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    font-family: 'Source Sans Pro';
    border: 1px solid;
}
.post .post-stats{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}
.post .navigation{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.details{
    border-bottom: 3px solid #6200EA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
}
button{
    padding: 0.5rem;
    margin-bottom: 1rem;
}
.indicator{
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}
/* W3 */

  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
    height: 100%;
    width: 100%;
    padding: 1rem;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 2rem;
    width: 2rem;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.6;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #388E3C;
  }


  /* Media Queries */
@media (min-width: 0px){
    :root{
        font-size: 6px;
    }
}
@media (min-width:720px){
    :root{
        font-size: 8px;
    }
}
@media (min-width:1080px){
    :root{
        font-size: 10px;
    }
}
